.navbar {
  position: fixed; /* Set navbar position to fixed to keep it from disappearing while scrolling */
  top: 0; /* Positioned it at the top of the viewport */
  width: 100%; /* Occupying the full width of the viewport */
  background-color: #333;
  padding: 15px 0px;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links li {
  display: inline-block; /* Display list items inline to avoid stacking*/
  margin: 0 10px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  background-color: #6d9a7a;
  padding: 3px 7px;
  border-radius: 5px;
  transition: background-color 0.3s ease; /* Transition effect */
}

.nav-links li a:hover {
  text-decoration: underline;
  background-color: #4b6853; /* Darker background color on hover. This gives the illusion of a depression. */
}
